// cor de fundo
$bg-primary:#171810;
$bg-secondary: #2a2a2a;
$bg-terciaria: #222222;  
$bg-borda: #222222;      

//Cores
$cr-primary: #fff;
$cr-acao: #007bff;
$cr-danger: #ff3c00;
$cr-acesso: #28a745;
$cr-vip: #f3db71;

//Cor Texto
$text-primary: #fff;
$text-secundary: #f0f8ff;


// Fontes
$font-heading: "Playfair Display", serif;
$font-subtitle: "Montserrat", sans-serif;
$font-body: "Inter", sans-serif;
$font-ui: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;

$fs-title: clamp(2.5rem, 5vw, 3.8rem);
$fs-subtitle: clamp(1.2rem, 2vw, 2rem);
$fs-subtitle-sub: clamp(1.1rem, 1.5vw, 1.25rem);
$fs-text: clamp(0.9rem, 1vw, 1rem);
$fs-small: clamp(0.75rem, 0.8vw, 0.9rem);

// Serve para espaçamento entre elementos, padding, margin, etc.
$space-xs: 4px;
$space-sm: 8px;
$space-md: 16px;
$space-lg: 24px;
$space-xl: 32px;
$space-2xl: 48px;
$space-3xl: 64px;
    
// Bordas e sombras
$border-sm: 1px;
$border-md: 2px;
$border-lg: 3px;

$border-color: #D6CCBE;

// Radius
$radius-sm: 6px;
$radius-md: 12px;
$radius-lg: 20px;
$radius-xl: 32px;

// Btns
// $btn-primary-bg: $color-primary;
// $btn-primary-hover: $color-primary-hover;

// $btn-secondary-bg: $color-secondary;
// $btn-secondary-hover: $color-secondary-hover;


$shadow-card: 0 4px 12px rgba(0, 0, 0, 0.08);
$shadow-hover: 0 8px 24px rgba(0, 0, 0, 0.12);

// Transições
$transition-fast: 0.2s ease;
$transition-default: 0.3s ease-in-out;
$transition-slow: 0.5s ease;

$translate-y-hover-5: translateY(-5px);
$translate-y-hover-2: translateY(-2px);

// Conteiners
$container-sm: 768px;
$container-md: 1090px;
$container-lg: 1280px;
$container-xl: 1440px;

// breakpoints para o projeto
$mobile: 390px;
$tablet: 780px;
$laptop: 1024px;
$desktop: 1280px;
$wide: 1440px;