@use "../../styles/mixins" as mixins;
@use "../../styles/variables" as variables;


@media (min-width: 769px) {

        .cardTema {
            cursor: pointer;
            width: 90%;
            background-color: variables.$bg-secondary;
            padding: variables.$space-sm;
            border-radius: variables.$radius-sm;
            height: stretch;
            @include mixins.hoverDefault();
            @include mixins.flexCenter(row, flex-start);
            display: flex;
            flex-direction: row;
            gap: variables.$space-md;


            .imgBg {
                width: 50%;
                height: 100%;
                padding: variables.$space-sm;
            }

            .imgCard {
                width: 100%;
                height: 100%;
                padding: variables.$space-md;
                background-color: variables.$bg-primary;
                border-radius: variables.$space-md;

                svg {
                    width: 100%;
                    height: 100%;
                }
            }

            .textContent {
                width: 50%;
                height: 80%;
                @include mixins.flexCenter(column);
            }

            .tituloCard {
                h3 {
                    font-weight: 500;
                    font-size: variables.$fs-subtitle-sub;
                    font-family: variables.$font-grot;
                }

                p {
                    font-size: variables.$fs-text;
                    font-family: variables.$font-grot;
                    font-weight: 300;
                }
            }
        }
}

@media (max-width: 768px) {
    .cardTema {
        @include mixins.flexCenter(row, flex-start);
        background-color: variables.$bg-secondary;
        padding: variables.$space-sm;
        gap: variables.$space-3xl;
        border-radius: variables.$radius-sm;

        @include mixins.hoverDefault();

        &:hover {
            border: 0.5px solid variables.$cr-acao;
        }

        .cardTitle {
            @include mixins.flexCenter(row, flex-start);

            .imgCard {
                width: 50px;
                height: 50px;

                svg {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    .logoutMobile {
        @include mixins.flexCenter(row, flex-start);
        background-color: variables.$cr-danger;
        padding: variables.$space-sm;
        gap: variables.$space-3xl;
        border-radius: variables.$radius-sm;


        @include mixins.hoverDefault();

        &:hover {
            border: 0.5px solid variables.$cr-acao;
        }
    }
}

@media (min-width: 769px) {
    .logoutMobile {
        display: none;
    }
}