@use "../../../styles/mixins" as mixins;
@use "../../../styles/variables" as variables;


@media (min-width: 769px){
    .main {
        margin-left: variables.$sidebar-width;
        width: calc(100% - variables.$sidebar-width);
        height: 100vh;
        background-color: variables.$bg-primary;
        padding: variables.$space-lg;

        .tituloFiltro {
            margin-top: variables.$space-sm;
            color: variables.$cr-primary;
            font-size: variables.$fs-title;
            text-align: left;
            width: 100%;
            font-family: variables.$font-body;
            margin-bottom: variables.$space-md;
        }


        .section {
            @include mixins.flexCenter(column, center);
            padding: variables.$space-sm;
            width: 100%;
            margin-top: variables.$space-md;
            color: variables.$cr-primary;
            gap: variables.$space-md;
        }

        .tituloCard {
            font-family: variables.$font-grot;
                h3 {
                    font-weight: 500;
                    font-size: variables.$fs-subtitle;
                    font-family: variables.$font-body;
                }

                p {
                    font-size: variables.$fs-text;
                    font-family: variables.$font-body;
                }
        }

        .card {
        width: 90%;
        background-color: variables.$bg-secondary;
        padding: variables.$space-sm;
        border-radius: variables.$radius-sm;
        height: stretch;
        @include mixins.hoverDefault();
        @include mixins.flexCenter(row, flex-start);
        display: flex;
        flex-direction: row;
        gap: variables.$space-md;


            .imgBg {
                width: 50%;
                height: 100%;
                padding: variables.$space-sm;
            }

            .imgCard {
                width: 100%;
                height: 100%;   
                padding: variables.$space-md;
                background-color: variables.$bg-primary;
                border-radius: variables.$space-md;

                svg {
                    width: 100%;
                    height: 100%;
                }
            }
            .textContent {
                width: 50%;
                height: 80%;
                @include mixins.flexCenter(column);
                // gap: 15px;
            }
            .tituloCard {

                h3 {
                    font-weight: 500;
                    font-size: variables.$fs-subtitle-sub;
                    font-family: variables.$font-grot;
                }

                p {
                    font-size: variables.$fs-text;
                    font-family: variables.$font-grot;
                    font-weight: 300;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .main {
        margin-left: 0;
        width: 100%;
        min-height: 100vh;
        padding: variables.$space-sm;
        @include mixins.flexCenter(column, flex-start);
        background-color: variables.$bg-primary;
        padding: 0 variables.$space-md 150px;
        gap: variables.$space-xl;
    }

    .tituloFiltro {
        margin-top: variables.$space-sm;
        color: variables.$cr-primary;
        font-size: variables.$fs-title;
        text-align: left;
        width: 100%;
        font-family: variables.$font-body;
        margin-bottom: variables.$space-md;
    }

    .section {
        @include mixins.grid(100%, variables.$space-md, variables.$space-sm);
        width: 100%;
        margin-top: variables.$space-md;
        color: variables.$cr-primary;
        grid-auto-flow: row !important;
    }
    
    .card {
        @include mixins.flexCenter(row, flex-start);
        background-color: variables.$bg-secondary;
        padding: variables.$space-sm;
        gap: variables.$space-3xl;
        border-radius: variables.$radius-sm;

        @include mixins.hoverDefault();

        &:hover {
            border: 0.5px solid variables.$cr-acao;
        }

        .cardTitle {
            @include mixins.flexCenter(row, flex-start);
            .imgCard {
                width: 50px;
                height: 50px;

                svg {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}