@use '../../styles/mixins' as mixins;
@use '../../styles/variables';

@media (max-width: 768px) {
    .header {
        background-color: variables.$bg-secondary;
        width: 100%;
        height: auto;
        padding: variables.$space-sm;
        @include mixins.flexCenter(row, space-between);

        .logoContainer {
            @include mixins.flexCenter(row, flex-start);
            gap: variables.$space-sm;

            .logo {
                width: 40px;
                height: 40px;
            }

            .titulo {
                font-size: variables.$fs-subtitle;
                color: variables.$cr-primary;
                font-family: variables.$font-body;
                letter-spacing: 0.5px;
            }
        }

        .perfil {
            width: 64px;
            height: 64px;
            stroke: variables.$cr-primary;
            padding: variables.$space-sm;
            // font-family: variables.$font-body;
            svg{
                padding: variables.$space-xs;
                width: 100%;
                height: 100%;
                stroke: variables.$cr-primary;
            }
        }
    }
}