@use "../styles/mixins" as mixins;
@use "../styles/variables" as variables;

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(225deg, #000428 0%, #004e92 100%);
  width: 100%;

  .conteinerLogin {
    svg {
      stroke: variables.$cr-primary;
    }

    width: auto;
    padding: variables.$space-md;

    .contentHeader {
      width: 100%;
      @include mixins.flexCenter(column, center);

      h1 {
        font-family: variables.$font-grot;
        font-weight: 100;
        color: variables.$cr-primary
      }
    }

    .bodyLogin {
      @include mixins.flexCenter(column, center);
      margin-top: variables.$space-sm;
      font-family: variables.$font-grot;
      gap: variables.$space-sm;

      label {
        width: 100%;
        font-weight: 300;
        text-align: start;
        color: variables.$cr-primary;
        padding-left: variables.$space-sm;
      }

      .inputContent {
        @include mixins.flexCenter(auto, center);
        border: 0.5px solid #fff;
        border-radius: variables.$space-md;
        padding: variables.$space-sm variables.$space-sm;
        gap: variables.$space-xs;
        background-color: variables.$cr-primary;

        &:focus-within {
          box-shadow: 4px 6px 6px variables.$bg-primary
        }

        &:hover {
          transition: .2s ease;
          border-color: variables.$cr-secondary
        }

        svg {
          margin: 0 auto;
          stroke: variables.$cr-secondary;
        }

        .input {
          background-color: inherit;
          border: none;
          width: 360px;
          outline: none
        }
      }

      .rowCad {
        @include mixins.flexCenter(row, end);
        color: variables.$cr-acao;
        width: 100%;
        padding: 0 variables.$space-sm;
        text-decoration: underline;
        font-weight: 300;
        cursor: pointer;

        p {
          &:hover {
            color: variables.$cr-primary;
          }
        }
      }

      .rowBtn {
        width: 100%;
        @include mixins.flexCenter(row,center);
      }

      .btnL {
        padding: 12px 20px;
        color: variables.$cr-primary;
        background-color: variables.$cr-secondary;
        border: none;
        border-radius: variables.$space-sm;
        @include mixins.hoverDefault()
      }
    }
  }
}


@media (max-width: 425px){
  .main{
    .conteinerLogin{
    width:100% !important;
    padding: 0 !important;
    .bodyLogin{
      form{
        .inputContent{
          width: 100% !important;
          .input{
            width: 85vw !important;
          }
        }
      }
    }
  }
  }
}