@use "../styles/mixins" as mixins;
@use "../styles/variables" as variables;

.main {
  margin-left: variables.$sidebar-width;
  width: calc(100% - variables.$sidebar-width);
  height: 100vh;
  background-color: variables.$bg-primary;
  padding: variables.$space-lg;

  .tituloFiltro {

    margin-top: variables.$space-sm;
    margin-bottom: variables.$space-md;
    color: variables.$cr-primary;
    font-size: variables.$fs-title;
    text-align: left;
    width: 100%;
    font-family: variables.$font-body;
  }

  .filtro {
    @include mixins.flexCenter(row, flex-start);
    color: variables.$cr-primary;
    gap: variables.$space-sm;


    .filtroText {
      font-size: variables.$fs-subtitle;
      margin-right: variables.$space-sm;
      font-family: variables.$font-body;
    }

    ul {
      @include mixins.flexCenter(row, flex-start);
      gap: variables.$space-sm;

      li {
        font-size: variables.$fs-text;
        padding: variables.$space-xs calc(variables.$space-sm + 7px);
        border-radius: variables.$radius-sm;
        background-color: variables.$cr-acao;
        border: none;
        border-radius: variables.$radius-lg;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        font-family: variables.$font-body;

        &:hover {
          transform: translateY(-3px);
          box-shadow: variables.$shadow-hover;
        }
      }
    }
  }

  .section {
    @include mixins.grid();
    padding: variables.$space-sm;
    width: 100%;
    margin-top: variables.$space-md;
    color: variables.$cr-primary;
    grid-auto-flow: row;
  }

}

@media (max-width: 768px) {
  .main {
    margin-left: 0;
    width: 100%;
    min-height: 100vh;
    padding: variables.$space-sm;
    @include mixins.flexCenter(column, flex-start);
    background-color: variables.$bg-primary;
    padding: 0 variables.$space-md 150px;
    
  }

  .tituloFiltro {
        margin-top: variables.$space-2xl !important;
    margin-bottom: 0;
    margin-top: variables.$space-lg;
    color: variables.$cr-primary;
    font-size: variables.$fs-title;
    text-align: left;
    width: 100%;
    font-family: variables.$font-body;
  }

  .filtro {
    width: 100%;
    @include mixins.flexCenter(column, flex-start, none);
    color: variables.$cr-primary;
    gap: variables.$space-sm;

    .filtroText {
      font-size: variables.$fs-subtitle;
      margin-right: variables.$space-sm;
      font-family: variables.$font-body;
    }

    ul {
      @include mixins.flexCenter(row, flex-start);
      gap: variables.$space-sm;

      li {
        font-size: variables.$fs-text;
        padding: variables.$space-xs calc(variables.$space-sm + 7px);
        border-radius: variables.$radius-sm;
        background-color: variables.$cr-acao;
        border: none;
        border-radius: variables.$radius-lg;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        font-family: variables.$font-body;

        &:hover {
          transform: translateY(-3px);
          box-shadow: variables.$shadow-hover;
        }
      }
    }
  }

  .section {
    @include mixins.grid(100%, variables.$space-md, variables.$space-sm);
    width: 100%;
    margin-top: variables.$space-md;
    color: variables.$cr-primary;
    grid-auto-flow: row !important;
  }
}