@use "../styles/mixins" as mixins;
@use "../styles/variables";

.main {
  margin-left: variables.$sidebar-width;
  width: calc(100% - variables.$sidebar-width);
  height: 100vh;
  background-color: variables.$bg-primary;
  padding: variables.$space-lg;

  .tituloFiltro {
    color: variables.$cr-primary;
    font-size: variables.$fs-title;
    text-align: left;
    width: 100%;
    font-family: variables.$font-body;
    margin-bottom: variables.$space-md;
  }

  .filtro {
    @include mixins.flexCenter(row, flex-start);
    color: variables.$cr-primary;
    gap: variables.$space-sm;


    .filtroText {
      font-size: variables.$fs-subtitle;
      margin-right: variables.$space-sm;
      font-family: variables.$font-body;
    }

    ul {
      @include mixins.flexCenter(row, flex-start);
      gap: variables.$space-sm;

      li {
        font-size: variables.$fs-text;
        padding: variables.$space-xs calc(variables.$space-sm + 7px);
        border-radius: variables.$radius-sm;
        background-color: variables.$cr-acao;
        border: none;
        border-radius: variables.$radius-lg;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        font-family: variables.$font-body;

        &:hover {
          transform: translateY(-3px);
          box-shadow: variables.$shadow-hover;
        }
      }
    }
  }

  .section {
    @include mixins.grid();
    padding: variables.$space-sm;
    width: 100%;
    margin-top: variables.$space-md;
    color: variables.$cr-primary;
    grid-auto-flow: row;

    .card {
      background-color: variables.$bg-secondary;
      padding: variables.$space-sm;
      border-radius: variables.$radius-sm;
      @include mixins.hoverDefault();
      @include mixins.flexCenter(row, space-between);
      
      .imgCard {
        width: 50px;
        height: 50px;

        svg {
          width: 100%;
          height: 100%;
          padding: variables.$space-sm;
        }
      }

      .tituloCard {
        h3 {
          font-weight: 500;
          font-size: variables.$fs-subtitle;
          font-family: variables.$font-body;
        }

        p {
          font-size: variables.$fs-text;
          font-family: variables.$font-body;
        }
      }

      .config {
        @include mixins.flexCenter(row, flex);
        gap: variables.$space-sm;

        .bnt2 {
          @include mixins.flexCenter();
          border: none;
          border-radius: 50%;
          padding: variables.$space-xs;
          cursor: pointer;

          svg {
            stroke: variables.$cr-primary;
          }
        }

        button:nth-of-type(2) {
          background-color: variables.$cr-danger;
          @extend .bnt2;
          transition: transform 0.2s ease-in-out;

          &:hover {
            transform: scale(1.1);
            // box-shadow: 3px 2px 5px 5px variables.$cr-danger;
          }
        }

        button:nth-of-type(1) {
          background-color: variables.$cr-acesso;
          @extend .bnt2;
          transition: transform 0.2s ease-in-out;

          &:hover {
            transform: scale(1.1);
            // box-shadow: 3px 2px 5px 5px variables.$cr-acesso;
          }
        }
      }
    }
  }

}

@media (max-width: 768px) {
  .main {
    margin-left: 0;
    width: 100%;
    min-height: 100vh;
    padding: variables.$space-sm;
    @include mixins.flexCenter(column, flex-start);
    background-color: variables.$bg-primary;
    padding: 0 variables.$space-md 150px;
    gap: variables.$space-xl;
  }

  .tituloFiltro {
    margin-top: variables.$space-lg;
    color: variables.$cr-primary;
    font-size: variables.$fs-title;
    text-align: left;
    width: 100%;
    font-family: variables.$font-body;
  }

  .filtro {
    width: 100%;
    @include mixins.flexCenter(column, flex-start, none);
    color: variables.$cr-primary;
    gap: variables.$space-sm;

    .filtroText {
      font-size: variables.$fs-subtitle;
      margin-right: variables.$space-sm;
      font-family: variables.$font-body;
    }

    ul {
      @include mixins.flexCenter(row, flex-start);
      gap: variables.$space-sm;

      li {
        font-size: variables.$fs-text;
        padding: variables.$space-xs calc(variables.$space-sm + 7px);
        border-radius: variables.$radius-sm;
        background-color: variables.$cr-acao;
        border: none;
        border-radius: variables.$radius-lg;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        font-family: variables.$font-body;

        &:hover {
          transform: translateY(-3px);
          box-shadow: variables.$shadow-hover;
        }
      }
    }
  }

  .section {
    @include mixins.grid(100%, variables.$space-md, variables.$space-sm);
    width: 100%;
    margin-top: variables.$space-md;
    color: variables.$cr-primary;
    grid-auto-flow: row !important;

    .card {
      @include mixins.flexCenter(row, space-between);
      background-color: variables.$bg-secondary;
      padding: variables.$space-sm;
      border-radius: variables.$radius-sm;

      @include mixins.hoverDefault();

      &:hover {
        border: 0.5px solid variables.$cr-acao;
      }

      .cardTitle {
        @include mixins.flexCenter(row, flex-start);
        gap: variables.$space-sm;

        .imgCard {
          width: 50px;
          height: 50px;

          svg {
            width: 100%;
            height: 100%;
            padding: variables.$space-sm;
          }
        }

        .tituloCard {
          h3 {
            font-weight: 500;
            font-size: variables.$fs-subtitle;
            font-family: variables.$font-body;
          }

          p {
            font-size: variables.$fs-text;
            font-family: variables.$font-body;
          }
        }
      }

      .config {
        @include mixins.flexCenter(row, flex);
        gap: variables.$space-sm;

        .bnt {
          @include mixins.flexCenter();
          border: none;
          border-radius: 50%;
          padding: variables.$space-xs;
          cursor: pointer;

          svg {
            stroke: variables.$cr-primary;
          }
        }

        button:nth-of-type(2) {
          background-color: variables.$cr-danger;
          @extend .bnt;
          transition: transform 0.2s ease-in-out;

          &:hover {
            transform: scale(1.1);
            // box-shadow: 3px 2px 5px 5px variables.$cr-danger;
          }
        }

        button:nth-of-type(1) {
          background-color: variables.$cr-acesso;
          @extend .bnt;
          transition: transform 0.2s ease-in-out;

          &:hover {
            transform: scale(1.1);
            // box-shadow: 3px 2px 5px 5px variables.$cr-acesso;
          }
        }
      }
    }
  }
}